#root {
  text-align: center;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  .go-back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
    height: 30%;
  }
  &__buttons {
    display: flex;
    gap: 10px;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .input {
      width: 250px;
      height: 20px;
      padding: 7px;
    }
  }
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .signup-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .input {
      width: 250px;
      height: 20px;
      padding: 7px;
    }
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
