#root {
  text-align: center;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  .go-back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
    height: 30%;
  }
  &__buttons {
    display: flex;
    gap: 10px;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .input {
      width: 250px;
      height: 20px;
      padding: 7px;
    }
  }
  .forgot-password-popup {
    .popup-content {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .signup-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .input {
      width: 250px;
      height: 20px;
      padding: 7px;
    }
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;

  .home-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2333;
    gap: 10px; 

    .home-page__logo {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }

  .file-upload-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    margin-left: 10%;
  }
  
  .file-upload-input-wrapper {
    background-color: #1b2333;
    padding: 5px;
    border-radius: 5px;
  }
  

  .file-display-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .file-list {
      width: 60%;
      background-color: #1b2333;
      padding: 20px;
      color: white;
      border-radius: 10px;
      .file-search-input {
        background-color: #535353;
        margin-bottom: 10px;
      }
    }

    .rename-input-section {
      margin-top: 20px;
      gap: 10px;
      .rename-input {
        width: 250px;
        padding: 7px;
        margin-right: 10px;
      }
      .button-rename-submit,
      .button-rename-cancel {
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
      }
    }

    .file-options,
    .group-options {
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        padding: 10px;
        border-radius: 5px;
      }
      .button-trash {
        background-color: rgb(100, 4, 4);
      }
    }

    .uploaded-files-list {
      background-color: #2d2d2d;
    }
  }

}
